<div class="container">
  <div class="row">
    <div class="col-sm-5"></div>
    <div class="col-sm-2">
      <button [routerLink]="['/revisar-compra']" class="btn btn-primary btn-block">Revisar compras</button>
    </div>
    <div class="col-sm-5"></div>
    <div class="col-sm-5"></div>
    <div class="col-sm-2">
      <button [routerLink]="['/gestionar-entrenador']" class="btn btn-primary btn-block">Administrar entrenadores</button>
    </div>
    <div class="col-sm-5"></div>
    <div class="col-sm-5"></div>
    <div class="col-sm-2">
      <button [routerLink]="['/comprar']" class="btn btn-primary btn-block">Comprar</button>
    </div>
    <div class="col-sm-5"></div>
  </div>
</div>