<div class="contenedor">
    <div class="row">
        <div class="col-md-3">
            TITULO

        </div>
        <div class="col-md-6">
            <span class="item-menu">menu</span>
            <span class="item-menu">Inicio</span>
            <span class="item-menu">Películas</span>
            <span class="item-menu">Tienda</span>
            <span class="item-menu">DC</span>
            <span class="item-menu">Marvel</span>
        </div>
        <div class="col-md-3">
            LOGIN
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            LISTAS
        </div>
        <div class="col-sm-9">
            CONTENIDO
        </div>
    </div>

    <div class="row">
        2
    </div>
    <div class="row">
        3
    </div>
    <div class="row">
        4
    </div>
</div>

<!--    
<h1 [class]="color">Titulo {{title}}</h1>

<pre>
    {{_carritoService.carritoComprasTienda | json}}
</pre>

<button (click)="mostrar(true)">Mostrar</button>

<button (click)="mostrar(false)">Ocultar</button>

<div *ngIf="estaMostrando">

    <app-item-galeria 
    *ngFor= "let flor of arregloFlores"
    [titulo] ="flor.titulo"
    [nombreItem] = "flor.nombre"
    [textoBoton] = "flor.descripcion"
    [notas] = "flor.notas"
    (cambioChela)="cambioChela($event)"
    (cambioCerveza)="cambioCerveza($event)"
    >
    </app-item-galeria>

</div>
-->