<ion-grid>

  <ion-card class="center login">
    <ion-card-header>
      <ion-card-title class="ion-text-center">Inicia sesión</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form #formularioUsuario="ngForm"
            (submit)="iniciarSesion()">
        <ion-item>
          <ion-label position="floating">Nombre de Usuario</ion-label>
          <ion-input [(ngModel)]="nombreUsuario"
                     name="nombreUsuario"
                     type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password"
                     [(ngModel)]="password"
                     name="password"
          ></ion-input>
        </ion-item>

        <ion-button type="submit" color="success" expand="block">Iniciar sesión</ion-button>

      </form>
    </ion-card-content>
  </ion-card>

</ion-grid>
