Nombre: {{nombre}}
<br>
Apellido: {{apellido}}
<br>
Consulta: {{q}}
<br>


<pre>Valido: {{formularioUsuario.valid}}</pre>
<pre>Invalido: {{formularioUsuario.invalid}}</pre>
<pre>dirty: {{formularioUsuario.dirty}}</pre>
<pre>pristine: {{formularioUsuario.pristine}}</pre>
<pre>touched: {{formularioUsuario.touched}}</pre>
<pre>untouched: {{formularioUsuario.untouched}}</pre>
<form 
  #formularioUsuario="ngForm"
  novalidate
  (submit)="guardarUsuario(formularioUsuario)"
>

<label for="nombre">Nombre</label>
<input id="nombre" 
required 
name="nombreUsuario" 
type="email"
[(ngModel)]="nombre"
#vtNombre="ngModel">

<pre>{{vtNombre.valid | json}}</pre>
<pre>{{vtNombre.dirty | json}}</pre>
<pre>{{vtNombre.touched | json}}</pre>

<pre>ERROR:
      {{vtNombre.errors | json}}
</pre>


<p *ngIf="vtNombre.valid">Nombre Valido</p>
<p *ngIf="vtNombre.invalid">Nombre Invalido</p>

  <br>
  <label for="apellido">Apellido</label>
  <input id="apellido" required name="apellidoUsuario" type="text" [(ngModel)]="apellido">
  <br>
  <label for="cedula">Cédula</label>
  <input id="cedula" 
  required
  minlength="10"
  maxlength="10"
  pattern="[0-9]{10}"
  name="cedula" 
  type="text" 
  [(ngModel)]="cedula"
  #vtCedula = "ngModel">
  <br>
  

  <div *ngIf="vtCedula.errors && vtCedula.dirty">
    <h1>Errores</h1>
    <p *ngIf="vtCedula.errors.minlength">Escriba mínimo 10 caracteres</p>
    <p *ngIf="vtCedula.errors.pattern">Solo se aceptan números</p>
    <p *ngIf="vtCedula.errors.required">El campo es obligatorio</p>
  </div>
  


<pre>ERROR:
  {{vtCedula.errors | json}}
</pre>
<br>
  <button type="button">Tipo boton</button>
  <br>
  <button type="reset">Tipo reset</button>
  <br>
  <button type="submit" [disabled]="formularioUsuario.invalid">Tipo submit</button>
  <br>
  
</form>