<ion-header>
  <ion-toolbar>
    <ion-title>
      Compra pokemones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-item>
    <ion-label position="stacked">Cajero:</ion-label>
    <ion-input disabled>{{nombreCajero}}</ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Total:</ion-label>
    <ion-input disabled>100</ion-input>
  </ion-item>

  <ion-list>
    <ion-list-header>
      <ion-label>Pokemones disponibles</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let pokemon of pokemones">
      <ion-label>
        <h2>Nombre: {{pokemon.nombrePokemon}}</h2>
        <h3>Precio: {{pokemon.precioPokemon}}</h3>
        <h4>Nivel: {{pokemon.nivel}}</h4>
      </ion-label>
      <ion-button color="success">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

</ion-content>
