<div class="container">
    <div class="card">
      <div class="card-header">Gestión de pokemones</div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-4">
            <label for="nombrePokemon">Buscar</label>
          </div>
          <div class="col-sm-4">
              <input type="text" name="nombrePokemon" id="nombrePokemon" [(ngModel)]="nombrePokemonBuscar">
          </div>
          <div class="col-sm-4">
            <button class='btn btn-primary' (click)="buscarPokemonPorNombre()">Buscar</button>
          </div>
          <div class="col-sm-4">
            </div>
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4">
              <button class='btn btn-primary' data-toggle="modal" data-target="#modalCrearPokemon">Crear</button>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
              <tr>
                <th>Número Pokemon</th>
                <th>Nombre Pokemon</th>
                <th>Poder Especial Uno</th>
                <th>Poder Especial Dos</th>
                <th>Fecha Captura</th>
                <th>Nivel</th>
                <th>Entrenador Id</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let pokemon of pokemones; let i = index'>
                <td>{{pokemon.numeroPokemon}}</td>
                <td>{{pokemon.nombrePokemon}}</td>
                <td>{{pokemon.poderEspecialUno}}</td>
                <td>{{pokemon.poderEspecialDos}}</td>
                <td>{{pokemon.fechaCaptura}}</td>
                <td>{{pokemon.nivel}}</td>
                <td>{{i}}</td>
                <td>
                  <button class="btn btn-primary" (click)="eliminarPokemon(pokemon.id)">Eliminar</button>
                </td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
  
  
              
    <!-- The Modal -->
    <div class="modal" id="modalCrearPokemon">
        <div class="modal-dialog">
          <div class="modal-content">
          
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Crear un nuevo pokemon</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
              <div class="row">
                <div class="col-sm-6">
                  <label for="numeroPokemon">Número:</label>
                </div>
                <div class="col-sm-6">
                  <input type="number" name="numeroPokemon" id="numeroPokemon" [(ngModel)]="nuevoPokemon.numeroPokemon">
                </div>
  
                <div class="col-sm-6">
                    <label for="nombrePokemon">Nombre:</label>
                  </div>
                  <div class="col-sm-6">
                    <input type="text" name="nombre" id="nombrePokemon" [(ngModel)]="nuevoPokemon.nombrePokemon">
                  </div>
                  <div class="col-sm-6">
                      <label for="fechaNacimientoEntrenador">poder Especial Uno:</label>
                    </div>
                    <div class="col-sm-6">
                      <input type="date" name="fechaNacimiento" id="fechaNacimientoEntrenador" [(ngModel)]="nuevoPokemon.poderEspecialUno">
                    </div>
                    <div class="col-sm-6">
                        <label for="numeroMedallasEntrenador">poder Especial Dos</label>
                      </div>
                      <div class="col-sm-6">
                        <input type="number" name="numeroMedallas" id="numeroMedallasEntrenador" [(ngModel)]="nuevoPokemon.poderEspecialDos">
                      </div>
                      <div class="col-sm-6">
                          <label for="campeonActualEntrenador">fecha Captura:</label>
                        </div>
                        <div class="col-sm-6">
                          <input type="date" name="campeonActual" id="campeonActualEntrenador" [(ngModel)]="nuevoPokemon.fechaCaptura">
                        </div>
                        <div class="col-sm-6">
                            <label for="campeonActualEntrenador">Nivel:</label>
                          </div>
                          <div class="col-sm-6">
                            <input type="date" name="campeonActual" id="campeonActualEntrenador" [(ngModel)]="nuevoPokemon.nivel">
                          </div>
                          <div class="col-sm-6">
              </div>
            </div>
            
                      <!-- Modal footer -->
                      <div class="modal-footer">
                        <div class="row">
                          <div class="col-sm-6">
                              <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                          </div>
                          <div class="col-sm-6">
                              <button 
                              type="button" 
                              class="btn btn-success" 
                              data-dismiss="modal"
                              (click)="guardarNuevoPokemon()"
                              >Crear</button>
                          </div>
                        </div>
                      </div>
            
          </div>
        </div>
      </div>