<ion-header>
  <ion-toolbar>
    <ion-title>
      Gestiona entrenadores
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

    <ion-grid>
        <ion-row>
            <ion-col></ion-col>
            <ion-col>
                <form #formularioUsuario="ngForm"
                      (submit)="buscarEntrenador()">
                    <ion-item>
                        <ion-label position="floating">Buscar entrenador</ion-label>
                        <ion-input type="text"
                                   [(ngModel)]="entrenadorABuscar"
                                   name="entrenadorABuscar"
                        ></ion-input>
                    </ion-item>

                    <ion-button type="submit" color="success" class="center">Buscar entrenador</ion-button>
                </form>
            </ion-col>
            <ion-col></ion-col>
        </ion-row>
        <ion-row>
            <ion-col></ion-col>
            <ion-col>
                <ion-button (click)="crearEntrenador()" color="success">Crear entrenador</ion-button>
            </ion-col>
            <ion-col></ion-col>
        </ion-row>
    </ion-grid>


<ion-list>

    <ion-list-header>
        Entrenadores
      </ion-list-header>

  <ion-item-sliding *ngFor = "let entrenador of entrenadores">
    <ion-item [routerLink]="['/pokemon',entrenador.id]" >
        <ion-label>
            <h2>nombre: {{entrenador.nombre}} {{entrenador.apellido}}</h2>
            <h3>{{entrenador.fechaNacimiento}}</h3>
            <p>{{entrenador.numeroMedallas}}</p>
            <p>{{entrenador.campeonActual}}</p>
          </ion-label>
    </ion-item>
    <ion-item-options side="start">
      <ion-item-option  color="success" (click)="openModal(entrenador)">Editar</ion-item-option>
    </ion-item-options>
    <ion-item-options side="end">
      <ion-item-option color="success" (click)="eliminarEntrenador(entrenador.id)">Eliminar</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>
</ion-content>
