<ion-header>
  <ion-toolbar>
    <ion-title>Edita la información del entrenador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="separador"></div>

    <form #formularioEditarEntrenador="ngForm"
          novalidate
          (submit)="actualizarEntrenador()">
        <ion-item>
            <ion-label>Nombre:</ion-label>
            <ion-input clearInput [(ngModel)]="entrenador.nombre"
                       (change)="cambio()"
                       name="nombre"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Apellido:</ion-label>
            <ion-input clearInput [(ngModel)]="entrenador.apellido"
                       (change)="cambio()"
                       name="apellido"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Fecha de nacimiento:</ion-label>
            <ion-input clearInput [(ngModel)]="entrenador.fechaNacimiento"
                       (change)="cambio()"
                       name="fechaNacimiento"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Número de medallas:</ion-label>
            <ion-input clearInput [(ngModel)]="entrenador.numeroMedallas"
                       (change)="cambio()"
                       type="number"
                       name="numeroMedallas"></ion-input>
        </ion-item>



        <ion-item>
            <ion-label>Es el campeón actual?:</ion-label>
            <ion-checkbox [checked]="entrenador.campeonActual"
                          (ionChange)="cambioCampeonActual()"
                          name="campeonActual"
            ></ion-checkbox>

        </ion-item>

        <ion-row class="botones">
          <ion-col>
              <ion-button type="submit" 
                          color="success"
                          [disabled]="!formularioCambio"
                          expand="block" >Guardar</ion-button>
          </ion-col>
          <ion-col>
              <ion-button  color="success" expand="block" (click)="dismiss()">Cancelar</ion-button>
          </ion-col>
        </ion-row>

    </form>
</ion-content>
